html {
    height:100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:silver;
    display:flex;
    min-height:100%;
}
header {
    display:flex;
}
.gradient-box {
    background: linear-gradient(to right,rgb(19, 18, 71)30%,rgb(243, 134, 134));
    width:1280px;
    height:100px;
    position:fixed;
    z-index:1;
    display:flex;
    padding-top: 5px;
    flex-wrap:wrap;
    border-radius:2px;
}
.gradient-box button {
    padding:7px;
}
.login-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    height:100px;
    width:100px;
}
.button-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    margin-left:350px;    
    height:100px;
}
button {
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(238, 230, 113);
    color: rgb(0, 0, 0);
    border-radius:20px;
    /* margin: auto; */
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding:7px;
}
button:hover {
    color:black;
    background-color:silver;
    cursor:pointer;
}
button:active {
    color:black;
    background-color:silver;
}
button:focus {
    color:black;
    background-color:silver;
}
a {
    text-decoration:none;
}
h2 {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: black;
    transform: translateY(50px) translateX(100px);
}
h3 {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: black;
}
p {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:black;
    text-align: center;
    transform: translateY(200px);
}
video {
    border:thick;
    width:340px;
    height:600px;
    border-radius:10px solid black;
    padding:10px;
    max-width:100%;
}
.image-1 {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    padding:10px;
    z-index:2;
    width:100px;
    height:100px;

}
img {
    width:100%;
    height:100%;
}
.img_2 {
    width:25%;
    height:40%;
    padding:10px;
    margin-bottom:-400px;
    margin-top:200px;
    margin-left:650px;
    align-items:center;
}
.About {
    background-color:rgb(243, 134, 134);
}
