rgb(247, 80, 80)
html {
    height:100%;
}
header {
    display:flex;
    width:100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:silver;
    display:flex;
    min-height:100%;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
}
.gradient-box {
    background: linear-gradient(to right,rgb(19, 18, 71)30%,rgb(243, 134, 134));
    width:1280px;
    height:100px;
    position:fixed;
    z-index:1;
    display:flex;
    padding-top: 5px;
    flex-wrap:wrap;
    border-radius:2px;
}
.gradient-box button {
    padding:7px;
}
.login-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    height:100px;
    width:100px;
}
.button-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    margin-left:350px;    
    height:100px;
}
button {
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(238, 230, 113);
    color: rgb(0, 0, 0);
    border-radius:20px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding:7px;
}
button:hover {
    color:black;
    background-color:silver;
    cursor:pointer;
}
button:active {
    color:black;
    background-color:silver;
}
button:focus {
    color:black;
    background-color:silver;
}
a {
    text-decoration:none;
}
.image-1 {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    padding:10px;
    z-index:2;
    width:100px;
    height:100px;

}
img {
    width:100%;
    height:100%;
}
.pets {
    background-color:silver;
    color:black;
    padding:7px;
    border:5%;
    border-radius:7px;
}
.Pets {
    display:flex;
    flex-wrap:wrap;
    background-color:silver;
    color:black;
    padding:7px;
    border:5%;
    border-radius:7px;
    position:absolute;
    width:75px;
    height:40px;
    justify-content:center;
    margin-left:300px;
    margin-top:-30px;
}
.Property {
    background-color:silver;
    color:black;
    padding:7px;
    border-radius:7px;
    width:75px;
    height:40px;
}
.Yard {
    background-color:silver;
    color:black;
    padding:7px;
    border-radius:7px;
    width:75px;
    height:40px;
}
.Experience {
    background-color:silver;
    color:black;
    padding:7px;
    border-radius:7px;
    width:75px;
    height:40px;
}
.Gender {
    background-color:silver;
    color:black;
    padding:7px;
    border-radius:7px;
    width:75px;
    height:40px;
}
ol li {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:150%;
    margin:auto;
    position:relative;
    padding:0 0 130px 0;
    flex-wrap:wrap;
    width:100%;
}
p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:150%;
    margin:auto;
    position:relative;
    transform:translateY(250px);
    padding:10px;
}
.number {
    margin:auto;
    z-index:0;
    bottom:42px;
    left:-200px;
}
.type {
    margin:auto;
    position:relative;
    bottom:240px;
    left:100px;
}
.breed {
    margin:auto;
    position:relative;
    bottom:435px;
    left:350px;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:black;
    padding:150px 0 10px 0;
    font-size:300%;
    display:flex;
    align-items:flex-start;
    justify-content:center;
}
.interest_text {
    position:relative;
    padding:10px;
    margin:auto;
    border-radius:7px;
    background-color:silver;
    width:400px;
    height:100px;
}
.number_text {
    position:relative;
    padding:10px;
    margin:auto;
    border-radius:7px;
    background-color:silver;
    width:30px;
    height:15px;
    bottom:200px;
    left:-50px;
}
.acres {
    position:relative;
    padding:10px;
    margin:auto;
    border-radius:7px;
    background-color:silver;
    width:75px;
    height:40px;
}
.type_button {
    position:relative;
    padding:10px;
    margin:auto;
    border-radius:7px;
    background-color:silver;
    width:75px;
    height:40px;
    bottom:400px;
    left:200px;
}
.other-pets {
    height:300px;
}
.breed_text {
    position:relative;
    margin:auto;
    padding:10px;
    border-radius:7px;
    background-color:silver;
    width:200px;
    height:50px;
    bottom:610px;
    left:450px;
}
.section_1 {
    display:flex;
    flex-wrap:wrap;
    position: relative;
    height: 80%;
    width:50%;
    background-color:rgb(243, 134, 134);
    border: solid rgb(19, 18, 71);
    padding:50px 20%;
    border-width:15px;
    border-radius:30px;
    align-items:center;
    justify-content:center;
    margin-left:50px;
}
